<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Справочник - Панель администратора</title>

    <%- include('_top-head-requires') %>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <%- include('_nav-top-side') %>
        <!-- DataTables CSS -->
        <link href="../sb-admin/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="../sb-admin/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Справочник</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Список
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Фамилия</th>
                                        <th>Имя</th>
                                        <th>Отчество</th>
                                        <th>Должность</th>
                                        <th>Отдел</th>
                                        <th>Внутренний номер</th>
                                        <th>Городской номер</th>
                                        <th>Мобильный</th>
                                        <th>Кабинет</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (handbook) { %>
                                      <% for(var i=0; i < handbook.length; i++){
                                            var dep = handbook[i].Name;
                                            for(var j = 0; j <  handbook[i].Users.length; j++){
                                              %>
                                              <tr class="">
                                                  <td><%= handbook[i].Users[j].SurName %></td>
                                                  <td><%= handbook[i].Users[j].FirstName %></td>
                                                  <td><%= handbook[i].Users[j].LastName %></td>
                                                  <td><%= handbook[i].Users[j].Position %></td>
                                                  <td><%= dep %></td>
                                                  <td><%= handbook[i].Users[j].Localnumber %></td>
                                                  <td><%= handbook[i].Users[j].CityNumber %></td>
                                                  <td><%= handbook[i].Users[j].MobileNumber %></td>
                                                  <td><%= handbook[i].Users[j].CabinetNumber %></td>
                                              </tr>
                                              <% } %>
                                      <% } %>
                                    <% } %>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <%- include('_bottom-body-requires') %>

    <!-- DataTables JavaScript -->
    <script src="../sb-admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../sb-admin/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../sb-admin/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true,
            language: {
              url: "http://cdn.datatables.net/plug-ins/1.10.18/i18n/Russian.json"
            }
        });
    });
    </script>

</body>

</html>
