<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Панель администратора</title>

    <%- include('_top-head-requires') %>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <%- include('_nav-top-side') %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Общая панель</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">72</div>
                                    <div>Сотрудников</div>
                                </div>
                            </div>
                        </div>
                        <a href="../../admin/members">
                            <div class="panel-footer">
                                <span class="pull-left">Список сотрудников</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-sitemap fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">6</div>
                                    <div>Отделов</div>
                                </div>
                            </div>
                        </div>
                        <a href="../../admin/map">
                            <div class="panel-footer">
                                <span class="pull-left">Карта организации</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">2</div>
                                    <div>Новых сотрудника</div>
                                </div>
                            </div>
                        </div>
                        <a href="../../admin/addMember">
                            <div class="panel-footer">
                                <span class="pull-left">Добавить сотрудника</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-cloud fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">999</div>
                                    <div>МБ Файлов</div>
                                </div>
                            </div>
                        </div>
                        <a href="https://cloud.mail.ru/home/ALLEM/">
                            <div class="panel-footer">
                                <span class="pull-left">Перейти в облако</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Панель уведомлении
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                              <%for(var i = 0; i < 15; i++){%>
                              <p class="list-group-item">
                                <i class="fa fa-edit fa-fw"></i> <%- history[i].text %>
                                <span class="pull-right text-muted small"><em>
                                  <%
                                    var date = new Date(history[i].timestamp);
                                    var now = new Date();
                                    var timeDiff = Math.abs(now.getTime() - date.getTime());
                                    var diffMinutes = Math.ceil(timeDiff / (1000 * 60));
                                    if(diffMinutes < 60){%>
                                      <%=diffMinutes%> минут назад
                                    <%}else if((diffMinutes < 60*24) && (now.getDate() === date.getDate())){
                                        var hours = date.getHours();
                                        var mins = ('0'+date.getMinutes()).slice(-2);
                                        var time = hours+":"+mins;
                                      %>
                                      <%= time%>
                                      <%}else if((diffMinutes < 60*24*2) && (now.getDate() - date.getDate() == 1)){
                                          var hours = date.getHours();
                                          var mins = ('0'+date.getMinutes()).slice(-2);
                                          var time = hours+":"+mins;
                                        %>
                                        вчера в <%= time%>
                                      <%
                                        }else{
                                          var hours = date.getHours();
                                          var mins = ('0'+date.getMinutes()).slice(-2);
                                          var day = date.getDate();
                                          var m = date.getMonth() + 1;
                                          var y = date.getFullYear();
                                          var d = hours + ":" + mins + " " + day + "." + m + "." + y; %>
                                          <%=d%>
                                        <%}%>
                                </em>
                                </span>
                              </p>
                              <%}%>
                            </div>
                            <!-- /.list-group -->
                            <a href="../../admin/notifications" class="btn btn-default btn-block">Все уведомления</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <%- include('_bottom-body-requires') %>

</body>

</html>
