<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Данные сотрудника - Панель администратора</title>

    <%- include('_top-head-requires') %>

    </head>

    <body>

    <div id="wrapper">

        <!-- Navigation -->
        <%- include('_nav-top-side') %>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Сотрудник</h1>
                    </div>
                    <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Изображение
                        </div>
                        <div class="panel-body">
                            <img class="user_image" src="<% if (member.image) { %>../../images/members/<%= member.image %>.jpg <%} else { %> http://via.placeholder.com/750x900 <%}%>">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              Информация
                          </div>
                          <!-- /.panel-heading -->
                          <div class="panel-body">
                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs">
                                  <li class="active"><a href="#home" data-toggle="tab">Основные</a>
                                  </li>
                                  <li><a href="#profile" data-toggle="tab">Личные</a>
                                  </li>
                                  <li><a href="#messages" data-toggle="tab">Дело сотрудника</a>
                                  </li>
                                  <li><a href="#settings" data-toggle="tab">Настройки</a>
                                  </li>
                              </ul>

                              <!-- Tab panes -->
                              <div class="tab-content">
                                  <div class="tab-pane fade in active " id="home">
                                    <br>
                                    <h4>Основные данные сотрудника:</h4>
                                    <br>
                                    <div class="table-responsive info_table" >
                                      <table class="table table-hover">
                                          <tbody>
                                              <tr>
                                                  <td class="info_header">Фамилия:</td>
                                                  <td><% if (member.lastname) { %> <%= member.lastname %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Имя:</td>
                                                  <td><% if (member.name) { %> <%= member.name %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Отчество:</td>
                                                  <td><% if (member.middlename) { %> <%= member.middlename %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Должность:</td>
                                                  <td><% if (member.position) { %> <%= member.position %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Департамент:</td>
                                                  <td><% if (member.department) { %> <%= member.department %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">В штате:</td>
                                                  <td><% if (member.is_active) { %> <%= member.is_active %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Начало сотрудничества:</td>
                                                  <td><% if (member.start_date) { %> <%= member.start_date %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Конец сотрудничества:</td>
                                                  <td><% if (member.end_date) { %> <%= member.end_date %> <%} else { %> - <%}%></td>
                                              </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <div class="tab-pane fade" id="profile">
                                    <br>
                                    <h4>Личные данные сотрудника:</h4>
                                    <br>
                                    <div class="table-responsive info_table">
                                      <table class="table table-hover">
                                          <tbody>
                                              <tr>
                                                  <td class="info_header">ИИН:</td>
                                                  <td><% if (member.id) { %> <%= member.id %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Дата рождения:</td>
                                                  <td><% if (member.birthdate) { %> <%= member.birthdate %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Телефон:</td>
                                                  <td><% if (member.phone) { %> <%= member.phone %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Адрес прописки:</td>
                                                  <td><% if (member.address) { %> <%= member.address %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Адрес проживания:</td>
                                                  <td><% if (member.address_current) { %> <%= member.address_current %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Семейное положение:</td>
                                                  <td><% if (member.family_status) { %> <%= member.family_status %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Наличие детей:</td>
                                                  <td><% if (member.children) { %> <%= member.children %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Дети моложе 18:</td>
                                                  <td><% if (member.children_18) { %> <%= member.children_18 %> <%} else { %> - <%}%></td>
                                              </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <div class="tab-pane fade" id="messages">
                                      <h4>Личное дело: </h4>
                                      <p><% if (member.delo) { %> <%= member.delo %> <%} else { %> Нет данных <%}%></p>
                                  </div>
                                  <div class="tab-pane fade" id="settings">
                                      <h4>Изменение данных: </h4>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                  </div>
                              </div>
                          </div>
                          <!-- /.panel-body -->
                      </div>
                    <!-- /.panel -->
                  </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <%- include('_bottom-body-requires') %>

</body>

</html>
