<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Данные сотрудника - Панель администратора</title>

    <%- include('_top-head-requires') %>

    </head>

    <body>

    <div id="wrapper">

        <!-- Navigation -->
        <%- include('_nav-top-side') %>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Сотрудник</h1>
                    </div>
                    <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Изображение
                        </div>
                        <div class="panel-body">
                            <img class="user_image" src="<% if (member.image) { %>../../images/members/<%= member.image %>.jpg <%} else { %> http://via.placeholder.com/750x900 <%}%>">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              Информация <a href="#"><span class="member_delo">[личное дело]</span></a>
                          </div>
                          <!-- /.panel-heading -->
                          <div class="panel-body">
                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs">
                                  <li class="active"><a href="#home" data-toggle="tab">Основные</a>
                                  </li>
                                  <li><a href="#profile" data-toggle="tab">Личные</a>
                                  </li>
                                  <li><a href="#messages" data-toggle="tab">Образование</a>
                                  </li>
                                  <li><a href="#settings" data-toggle="tab">Настройки</a>
                                  </li>
                              </ul>

                              <!-- Tab panes -->
                              <div class="tab-content">
                                  <div class="tab-pane fade in active " id="home">
                                    <br>
                                    <h4>Основные данные сотрудника:</h4>
                                    <br>
                                    <div class="table-responsive info_table" >
                                      <table class="table table-hover">
                                          <tbody>
                                              <tr>
                                                  <td class="info_header">Фамилия:</td>
                                                  <td><% if (member.lastname) { %> <%= member.lastname %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Имя:</td>
                                                  <td><% if (member.name) { %> <%= member.name %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Отчество:</td>
                                                  <td><% if (member.middlename) { %> <%= member.middlename %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Должность:</td>
                                                  <td><% if (member.position) { %> <%= member.position %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Департамент:</td>
                                                  <td><% if (member.department) { %> <%= member.department %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">В штате:</td>
                                                  <td><% if (member.is_active) { %> <%= member.is_active %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Начало сотрудничества:</td>
                                                  <td><% if (member.start_date) { %> <%= member.start_date %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Конец сотрудничества:</td>
                                                  <td><% if (member.end_date) { %> <%= member.end_date %> <%} else { %> - <%}%></td>
                                              </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <div class="tab-pane fade" id="profile">
                                    <br>
                                    <h4>Личные данные сотрудника:</h4>
                                    <br>
                                    <div class="table-responsive info_table">
                                      <table class="table table-hover">
                                          <tbody>
                                              <tr>
                                                  <td class="info_header">Пол:</td>
                                                  <td><% if (member.sex) { %> <%= member.sex %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">ИИН:</td>
                                                  <td><% if (member.id) { %> <%= member.id %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Дата рождения:</td>
                                                  <td><% if (member.birthdate) { %> <%= member.birthdate %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Телефон:</td>
                                                  <td><% if (member.phone) { %> <%= member.phone %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Адрес прописки:</td>
                                                  <td><% if (member.address) { %> <%= member.address %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Адрес проживания:</td>
                                                  <td><% if (member.address_current) { %> <%= member.address_current %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Семейное положение:</td>
                                                  <td><% if (member.family_status) { %> <%= member.family_status %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Наличие детей:</td>
                                                  <td><% if (member.children) { %> <%= member.children %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Дети моложе 18:</td>
                                                  <td><% if (member.children_18) { %> <%= member.children_18 %> <%} else { %> - <%}%></td>
                                              </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <div class="tab-pane fade" id="messages">
                                    <br>
                                    <h4>Личные данные сотрудника:</h4>
                                    <br>
                                    <div class="table-responsive info_table">
                                      <table class="table table-hover">
                                          <tbody>
                                              <tr>
                                                  <td class="info_header">Среднее образование:</td>
                                                  <td><% if (member.s_ed) { %> <%= member.s_ed %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Высшее образование образование:</td>
                                                  <td><% if (member.h_ed) { %> <%= member.h_ed %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">ВУЗ:</td>
                                                  <td><% if (member.institute) { %> <%= member.institute %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Специальность:</td>
                                                  <td><% if (member.specialty) { %> <%= member.specialty %> <%} else { %> - <%}%></td>
                                              </tr>
                                              <tr>
                                                  <td class="info_header">Год окончания:</td>
                                                  <td><% if (member.ed_finish) { %> <%= member.ed_finish %> <%} else { %> - <%}%></td>
                                              </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <div class="tab-pane fade" id="settings">
                                      <h4>Изменение данных: </h4>
                                      <div class="col-md-6">
                                          <div class="panel panel-primary">
                                              <div class="panel-heading">
                                                  Изменить Основные данные
                                              </div>
                                              <div class="panel-body">
                                                  <p>Изменить данные, которые указаны во вкладке "Основные". После изменения данные сохраняются в БД перезаписывая старые данные.</p>
                                              </div>
                                              <button type="button" class="btn btn-outline btn-primary btn-lg btn-block change_profile_button" data-toggle="modal" data-target="#osnov_modal">Изменить</button>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="panel panel-primary">
                                              <div class="panel-heading">
                                                  Изменить Личные данные
                                              </div>
                                              <div class="panel-body">
                                                  <p>Изменить данные, которые указаны во вкладке "Личные". После изменения данные сохраняются в БД перезаписывая старые данные.</p>
                                              </div>
                                              <button type="button" class="btn btn-outline btn-primary btn-lg btn-block change_profile_button" data-toggle="modal" data-target="#lich_modal">Изменить</button>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="panel panel-primary">
                                              <div class="panel-heading">
                                                  Изменить Образование
                                              </div>
                                              <div class="panel-body">
                                                  <p>Изменить данные, которые указаны во вкладке "Образование". После изменения данные сохраняются в БД перезаписывая старые данные.</p>
                                              </div>
                                              <button type="button" class="btn btn-outline btn-primary btn-lg btn-block change_profile_button">Изменить</button>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="panel panel-warning">
                                              <div class="panel-heading">
                                                  Убрать сотрудника из штата
                                              </div>
                                              <div class="panel-body">
                                                  <p>При выборе этой настройки данные сотрудника остаются в архиве, но не будет указан в списке сотрудников. Выбирайте эту настройку если сотрудник уволился.</p>
                                              </div>
                                              <button type="button" class="btn btn-outline btn-primary btn-lg btn-block change_profile_button">Изменить</button>
                                            </div>
                                      </div>
                                      <button type="button" class="btn btn-danger btn-lg delete_member_button btn-block">Удалить сотрудника из БД</button>
                                  </div>
                              </div>
                          </div>
                          <!-- /.panel-body -->
                      </div>
                    <!-- /.panel -->
                    <!-- MODALS -->
                    <!-- Modal for Основные -->
                    <div class="modal fade" id="osnov_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Основные данные</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="container-fluid">
                              <div class="row">
                                <div class="col-md-12">
                                  <form role="form" method="POST" action="../editMember" id="osnov_form">
                                    <input type="hidden" name="member_id" value="<%= member._id %>">
                                    <div class="form-group">
                                        <label>Фамилия</label>
                                        <input class="form-control" name="lastname" value="<% if (member.lastname) { %><%= member.lastname %><%} else { %> - <%}%>" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Имя</label>
                                        <input class="form-control" name="name" value="<% if (member.name) { %><%= member.name %><%} else { %> - <%}%>" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Отчество</label>
                                        <input class="form-control" name="middlename" value="<% if (member.middlename) { %><%= member.middlename %><%} else { %> - <%}%>">
                                    </div>
                                    <div class="form-group">
                                        <label>Должность</label>
                                        <input class="form-control" name="position" value="<% if (member.position) { %><%= member.position %><%} else { %> - <%}%>" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Отдел</label>
                                        <select class="form-control" name="department" required>
                                            <option <% if (member.dep_name === "head") { %> selected="selected" <%}%> >Административно-управленческий персонал</option>
                                            <option <% if (member.dep_name === "head_service") { %> selected="selected" <%}%> >Административно – хозяйственная служба</option>
                                            <option <% if (member.dep_name === "prop_head") { %> selected="selected" <%}%> >Административно – хозяйственный отдел</option>
                                            <option <% if (member.dep_name === "remont") { %> selected="selected" <%}%> >Ремонтно – строительный отдел</option>
                                            <option <% if (member.dep_name === "supply") { %> selected="selected" <%}%> >Отдел материально – технического снабжения</option>
                                            <option <% if (member.dep_name === "energy") { %> selected="selected" <%}%> >Отдел энергетики</option>
                                            <option <% if (member.dep_name === "esystem") { %> selected="selected" <%}%> >Отдел по эксплуатации инженерных систем</option>
                                            <option <% if (member.dep_name === "safety") { %> selected="selected" <%}%> >Отдел ГО, ЧС, охраны труда и техники безопасности</option>
                                            <option <% if (member.dep_name === "security") { %> selected="selected" <%}%> >Отдел безопасности</option>
                                            <option <% if (member.dep_name === "kipia") { %> selected="selected" <%}%> >Отдел слаботочных систем и КИПиА</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Начало сотрудничества</label>
                                        <input type="date" class="form-control" name="start_date" value="<% if (member.start_date) { %><%= member.start_date %><%} else { %> - <%}%>" >
                                    </div>
                                    <div class="form-group">
                                        <label>Конец сотрудничества</label>
                                        <input type="date" class="form-control" name="end_date" value="<% if (member.end_date) { %><%= member.end_date %><%} else { %> - <%}%>" >
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Отмена</button>
                            <button type="submit" form="osnov_form" class="btn btn-primary">Сохранить</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Modal for Личные -->
                    <div class="modal fade" id="lich_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Личные данные</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="container-fluid">
                              <div class="row">
                                <div class="col-md-12">
                                  <form role="form" method="POST" action="../editMemberPrivate" id="lich_form">
                                    <input type="hidden" name="member_id" value="<%= member._id %>">
                                    <div class="form-group">
                                        <label>Пол</label>
                                        <select class="form-control" name="sex" required>
                                            <option <% if (member.sex === "М") { %> selected="selected" <%}%> >М</option>
                                            <option <% if (member.sex === "Ж") { %> selected="selected" <%}%> >Ж</option>
                                            <option <% if (member.sex === "Другой") { %> selected="selected" <%}%> >Другой</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>ИИН</label>
                                        <input class="form-control" type="number" name="id" value="<% if (member.id) { %><%= member.id %><%} else { %> - <%}%>" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Дата Рождения</label>
                                        <input class="form-control" type="date" name="birthdate" value="<% if (member.birthdate) { %><%= member.birthdate %><%} else { %> - <%}%>" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Телефон</label>
                                        <input class="form-control" name="phone" value="<% if (member.phone) { %><%= member.phone %><%} else { %> - <%}%>" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Адрес прописки</label>
                                        <input class="form-control" name="address" value="<% if (member.address) { %><%= member.address %><%} else { %> - <%}%>" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Адрес проживания</label>
                                        <input class="form-control" name="address_current" value="<% if (member.address_current) { %><%= member.address_current %><%} else { %> - <%}%>" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Семейное положение</label>
                                        <select class="form-control" name="family_status" >
                                            <option <% if (member.family_status === "Женат") { %> selected="selected" <%}%> >Женат</option>
                                            <option <% if (member.family_status === "Замужем") { %> selected="selected" <%}%> >Замужем</option>
                                            <option <% if (member.family_status === "Нет") { %> selected="selected" <%}%> >Нет</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Наличие детей</label>
                                        <input class="form-control" type="number" name="children" value="<% if (member.children) { %><%= member.children %><%} else { %>9999<%}%>" >
                                    </div>
                                    <div class="form-group">
                                        <label>Дети младше 18</label>
                                        <input class="form-control" type="number" name="children_18" value="<% if (member.children_18) { %><%= member.children_18 %><%} else { %>9999<%}%>" >
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Отмена</button>
                            <button type="submit" form="lich_form" class="btn btn-primary">Сохранить</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <%- include('_bottom-body-requires') %>
    <script type="text/javascript">
      $('#osnov_modal').modal({
          backdrop: 'static',
          keyboard: false
      });

      $('#osnov_modal').css('display', 'none');

      $('#lich_modal').modal({
          backdrop: 'static',
          keyboard: false
      });

      $('#lich_modal').css('display', 'none');


      $('.modal-backdrop').css('display', 'none');
      $('.change_profile_button').trigger('click');

    </script>

</body>

</html>
